@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .mainCardCamp{
        width: 457px;
        height: 331px;
        padding-top: 30px;
        padding-bottom: 30px;
        object-fit: cover;
    }
    .mainText{
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 25px;
       
    }
    .mainh2{
        font-size: 18px;
        line-height: 27px;
    }
    .mainGap {
        margin-left: 60px;
    }
  
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
   
    .newsHeadImg {
        width: 344px;
        height: 223px;
        object-fit: cover;
    }

    .newsLeftRight {
        margin-left: 35px;
        margin-right: 35px;
    }
  
}