@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .protiesImg {
        width: 662px ;
        /* height: 656px; */
        padding-right: 66px;
        padding-top: 50px;
       

    }
    .protiesText{
        padding-top: 277px;
        line-height: 88.92px;
        font-size: 60px;
    }
    .protiesSocail{
        margin-top: 277px;
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 767px) {
    .heroLeft {
      margin-left: 35px;
    }

  }