@media only screen and (min-width: 1366px) and (max-width: 1439px) {
   .heroText {
    font-size: 40px;
    line-height: 50px;
    padding-top: 122px;
    margin-right: 0px;
   }
   .heroTexBottom {
    margin-top: 40px;
   }
   .heroImg{
    /* width: 651px; */
    height: 100%;
    margin-top: 17px;
    padding-right: 62px;
    /* object-fit: cover; */
   }
  }
  
  @media only screen and (min-width: 414px) and (max-width: 767px) {
    .heroLeft {
      margin-left: 35px;
    }
  }