@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .text {
        font-size: 50px;
        line-height: 60px;
        margin-top: -12px;
    }
    .TextSub {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .supportImg {
        height: 664px;
        width: 605px;
    }
    .formHeading {
        font-size: 18px;
    }

    

}

@media only screen and (min-width: 414px) and (max-width: 767px) {
    
    .supportImgHeightWidht{
        width: 344px;
        height: 428px;
        object-fit: cover;
    }
    .endroLeftRight{
        margin-left: 35px;
        margin-right: 35px;
    }
    .endroHeadingTop {
        margin-top: 35px;
    }
    .endroSubHedding{
        padding-bottom: 30px;
    }
    .endroFromTop {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .endroTextleftRight{
        padding-left: 30px;
        padding-right: 30px;
    }
    .btnBoottom{
        padding-bottom: 30px;
    }
  }